body {
  background: url(./images/raphael-lopes-zqGvYYqDvs4-unsplash.jpg) no-repeat
    center center fixed;
  display: flex;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;
  font-family: "Roboto Condensed", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex: 2 1 auto;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: whitesmoke;
  margin: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 100vh;
  width: 58%;
}

form {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0;
  padding: 2rem;
}

section {
  display: flex;
  justify-content: flex-start;
  gap: 6.2rem;
}

.logocontainer {
  height: 100vh;
  width: 42%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: black;
  width: 100%;
  height: 7rem;
  top: 30%;
  background-color: rgb(0, 0, 0, 0.3);
}

.logotext {
  color: whitesmoke;
  text-align: center;
}

legend {
  font-size: x-large;
  font-weight: bolder;
  padding-bottom: 2rem;
}

input,
label {
  display: block;
}

label {
  font-size: larger;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  height: 2rem;
  font-size: larger;
}

button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #2f80ed;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 55px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

button:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, 0.05) 0 5px 30px, rgba(0, 0, 0, 0.05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

button:hover:after {
  opacity: 0.5;
}

button:active {
  box-shadow: rgba(0, 0, 0, 0.1) 0 3px 6px 0, rgba(0, 0, 0, 0.1) 0 0 10px 0,
    rgba(0, 0, 0, 0.1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: 0.35s;
}

button:active:after {
  opacity: 1;
}

@media (min-width: 768px) {
  button {
    padding: 14px 22px;
    width: 176px;
  }
}

a {
  text-decoration: none;
}
